
$white: #FFFFFF;
$dark-orange: #ff6347;
$dark-blue: #252422;

$green-100: #1dd1a1;

$light-grey-100: #f0f0f0;
$light-grey-200: #e9efe8;

$grey-gradient: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
