@import 'my-colors';

*, ::after, ::before{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::-moz-selection{
  color: $dark-blue;
  background-color: $green-100;
}

::selection{
  color: $dark-blue;
  background-color: $green-100;
}

body{
  margin: 0;
  font-size: 16px;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: $dark-blue;
  background-color: $white;
}


// ************** TYPOGRAPHY


h1, h2, h3, p{
  margin: 0;
  text-align: left;
}

h1{
  font-size: 3em;
  font-family: 'Asap', sans-serif;
  font-weight: 700;
  line-height: 1.1;
}

h2{
  font-size: 2em;
  font-family: 'Asap', sans-serif;
  font-weight: 700;
}

h3{
  font-size: 1.5em;
  font-family: 'Asap', sans-serif;
  font-weight: 700;
  margin-bottom: 0.5em;
  margin-top: 2em;
}

p{
  font-size: 1.125em;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

a{
  color: $green-100;
  &:hover, &:active{
    color: $dark-blue;
  }
}

blockquote{
  margin: 0;
  font-size: 1.5em;
  font-family: 'Asap', sans-serif;
  font-weight: 500;
  font-style: italic;
  line-height: 1.5;
  color: $green-100;
}


// ************** IMAGES

.bg-img{
  background-color: $white;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.article > .bg-img{
  height: 382px;
  width: 100%;
}

.thumbnail{
  width: 100%;
  cursor: zoom-in;
  transition: transform 100ms ease-out;
  &:hover{
    transform: scale(1.025);
  }
}

.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100vw;
	height: 100vh;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
  cursor: zoom-out;
  .image{
    width: 75%;
    background-color: $white;
  	// max-height: 80%;
  }
}

.lightbox:target {
	outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

// Home page post images

.post-url-01{
  background-position: 50% 10%;
  background-image: url(https://projectoak.github.io/images/Banner-Anki-Small.png);
}
.post-url-02{
  background-image: url(https://projectoak.github.io/images/Banner-GGR-Small.png);
}
.post-url-03{
  background-position: 50% 10%;
  background-image: url(https://projectoak.github.io/images/Banner-Belote-Small.png);
}

// ************** BUTTONS


.primary-button{
  display: inline-block;
  margin: 2em 0 0 0;
  color: $dark-blue;
  font-weight: 900;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  -webkit-transition: color 100ms ease-in;
  -o-transition: color 100ms ease-in;
  transition: color 100ms ease-in;
  &:hover{
    color: $green-100;
  }
  &::after{
    content: '';
    display: block;
    margin: 0.25em 0 0 0;
    width: 100%;
    height: 2px;
    background-color: $dark-blue;
    -webkit-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
  }
  &:hover::after{
    width: 0%;
    background-color: $green-100;
  }
}

.back-button{
  position: fixed;
  display: inline-block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 0 1em;
  top: auto;
  bottom: 1em;
  padding: 0.5em;
  color: $dark-blue;
  background-color: $white;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  z-index: 99;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1), 0 15px 35px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1), 0 15px 35px 0 rgba(0, 0, 0, 0.05);
  &:hover{
    color: $green-100;
  }
  &::after{
    content: '';
    display: block;
    margin: 0.25em 0 0 0;
    width: 100%;
    height: 2px;
    background-color: $dark-blue;
    -webkit-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
  }
  &:hover::after{
    width: 0%;
    background-color: $green-100;
  }
  p{
    float: right;
    font-size: 1em;
    font-weight: 900;
    margin-left: 0.25em;
    line-height: 1.25;
  }
}

// ************** BANNERS


.banner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  &.full{
    // padding: 1em;
    height: 100vh;
  }
  &.half{
    height: 50vh;
  }
}


// ************** GRID


.grid{
  margin: 0 auto;
  padding: 0 1em;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.small-grid{
  padding: 2em 1em 4em 1em;
  max-width: 960px;
}


// ************** CARD


.card{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 4.5em 0 0 0;
  height: 500px;
  overflow: hidden;
  text-align: center;
  background-color: $white;
  color: $dark-blue;
  -webkit-transition: -webkit-box-shadow, -webkit-transform 110ms ease-out;
  transition: -webkit-box-shadow, -webkit-transform 110ms ease-out;
  -o-transition: box-shadow, transform 110ms ease-out;
  transition: box-shadow, transform 110ms ease-out;
  transition: box-shadow, transform 110ms ease-out, -webkit-box-shadow, -webkit-transform 110ms ease-out;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1), 0 15px 35px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1), 0 15px 35px 0 rgba(0, 0, 0, 0.05);
  &:last-child{
    margin-bottom: 4em;
  }
  &:hover{
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15), 0 15px 35px 0 rgba(0, 0, 0, 0.075);
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15), 0 15px 35px 0 rgba(0, 0, 0, 0.075);
  }
  p{
    margin-top: 0.5em;
  }
}

.content-wrap{
  display: block;
  padding: 1em 1em 2em 1em;
  width: 100%;
}


// ************** ARTICLE


.article{
  border-radius: 0;
  overflow: hidden;
  background-color: $white;
  // -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15), 0 15px 35px 0 rgba(0, 0, 0, 0.075);
  //         box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15), 0 15px 35px 0 rgba(0, 0, 0, 0.075);
}

.article-content{
  // padding: 4em 1em;
  h2{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0.5em;
    margin-top: 0;
  }
  p{
    margin-bottom: 1em;
  }
  p:last-child{
    margin-bottom: 0;
  }
  blockquote{
    text-align: center;
  }
}


// ************** MEDIA QUERIES


@media only screen and (min-device-width: 569px){
  p{
    font-size: 1.313em;
  }

  h3{
    font-size: 2em;
    margin-top: 1.5em;
  }

  .grid{
    max-width: 960px;
  }

  .small-grid{
    padding: 4.5em 1em;
  }

  .card{
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 400px;
  }

  .card > .bg-img{
    height: 100%;
    width: 60%;
  }

  .article-content{
    padding: 4em;
  }

  .content-wrap{
    padding: 2em;
    width: 40%;
  }

  .primary-button{
    text-align: left;
  }

  .back-button{
    top: 1em;
    bottom: auto;
  }
}

// ************** ANIMATION CLASSES

.el{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $white;
  height: 0%;
  width: 100%;
  background-color: $white;
  color: $dark-blue;
  // box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15)
  .el-header{
    text-align: center;
    opacity: 0%;
  }
  .scroll-down{
    position: absolute;
    bottom: 4em;
    text-align: center;
    font-size: 0.75em;
  }
}

.small-grid{
  opacity: 0%;
}

.wave{
  display: inline-block;
}
