@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;600;700&family=Merriweather:ital,wght@0,300;0,700;1,300&display=swap");
*, ::after, ::before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  color: #FFFFFF;
  background-color: #252422;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Merriweather", serif;
  font-weight: 300;
  color: #252422;
  background-color: #FFFFFF;
}

h1, h2, h3, p {
  margin: 0;
  text-align: left;
}

h1 {
  font-size: 3.2em;
  font-family: "Asap", sans-serif;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  font-size: 2.5em;
  font-family: "Asap", sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 2em;
  font-family: "Asap", sans-serif;
  font-weight: 700;
  margin-bottom: 0.5em;
}

p, ul {
  font-size: 1.125em;
  font-family: "Merriweather", serif;
  font-weight: 300;
  line-height: 1.7;
}

p.headline {
  margin: 1em 0;
  font-size: 1.125em;
  font-family: "Asap", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

a {
  color: #252422;
  transition: color 150ms ease-out;
}
a:hover, a:active {
  color: #919190;
}

blockquote {
  margin: 0;
  font-size: 1.313em;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
  line-height: 1.5;
  color: #919190;
}

.feather-chevron-down {
  position: absolute;
  bottom: 4em;
  height: 2.5em;
  width: 2.5em;
  fill: #FFFFFF;
}

.primary-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  border: 2px solid #252422;
  padding: 0.75em 0;
  color: #FFFFFF;
  background-color: #252422;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.primary-button p {
  position: relative;
  color: #FFFFFF;
  font-family: "Asap", sans-serif;
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 300ms ease-Out;
}
.primary-button:hover .slide {
  left: 0;
}
.primary-button:hover p {
  color: #252422;
}

.slide {
  width: 100%;
  height: 100%;
  left: -100%;
  background-color: #FFFFFF;
  position: absolute;
  transition: all 300ms ease-Out;
  bottom: 0;
}

.back-button {
  position: fixed;
  z-index: 99;
  top: 1em;
  bottom: auto;
  width: auto;
  align-items: center;
  margin: 0 0 0 1em;
  padding: 0.5em;
}
.back-button p {
  z-index: 99;
  float: right;
  margin-left: 0.75em;
}
.back-button .fa-arrow-left {
  z-index: 99;
}
.back-button:hover .slide {
  z-index: 0;
  left: 0;
}
.back-button:hover p {
  color: #252422;
}
.back-button:hover .fa-arrow-left {
  color: #252422;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.full {
  margin: 0 auto;
  padding: 1em;
  height: 100vh;
  max-width: 960px;
}

.half {
  opacity: 0%;
  height: 50vh;
}

.banner a {
  display: contents;
}

.grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px auto;
  overflow-y: hidden;
}
.grid:first-child {
  margin: 160px auto 80px auto;
}
.grid:last-child {
  margin: 80px auto 160px auto;
}
.grid .col {
  width: calc(50% - 16px);
}

.col-invert {
  order: -1;
}

.content-wrap {
  display: block;
  max-width: 464px;
  margin: 0 1em 0 0;
}
.content-wrap.right {
  float: right;
  margin: 0 0 0 1em;
}

#article-01,
#article-02,
#article-03,
#article-04 {
  display: inline-block;
}

.article-grid {
  max-width: 680px;
  margin: 80px auto;
}
.article-grid .article {
  margin: 2em 1em;
}
.article-grid h2 {
  margin-bottom: 0.4em;
}
.article-grid p {
  margin-bottom: 2em;
}
.article-grid p:last-child {
  margin-bottom: 0;
}

.img {
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.img.img-big {
  height: 700px;
}
.img.img-small {
  height: 400px;
  background-position: 50% 50%;
}
.img.post-url-04 {
  height: 500px;
  background-position: top right;
}
.img.post-url-02 {
  background-position: top right;
}

.thumbnail {
  width: 100%;
  cursor: zoom-in;
  transition: transform 100ms ease-out;
}
.thumbnail:hover {
  transform: scale(1.025);
}

.lightbox {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  cursor: zoom-out;
}
.lightbox .image {
  width: 75%;
  padding: 4em;
  background-color: #FFFFFF;
}

.lightbox:target {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.post-url-01 {
  background-image: url(/images/001_Amboss.png);
}

.post-url-02 {
  background-image: url(/images/002_Neverdale-GGR.png);
}

.post-url-03 {
  background-image: url(/images/003_Brazil_Astoria.png);
}

.post-url-04 {
  background-image: url(/images/000_Polaroid_v2.png);
}
@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -10px, 0);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -5px, 0);
  }
  75% {
    transform: translate3d(0, -2px, 0);
  }
}
.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
  animation-duration: 2500ms;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

@media (max-width: 569px) {
  h1 {
    font-size: 2em;
  }

  .back-button {
    top: auto;
    bottom: 1em;
  }

  .grid {
    display: block;
  }
  .grid .col {
    width: 100%;
  }

  .content-wrap {
    display: block;
    max-width: 100%;
    margin: 2em 1em 0 1em;
  }
  .content-wrap.right {
    float: none;
    margin: 2em 1em 0 1em;
  }

  .img-big {
    height: 400px;
  }

  .img.img-big {
    height: 400px;
  }
  .img.post-url-02, .img.post-url-04 {
    background-position: center center;
  }
}